<!DOCTYPE html>
<html>
  <head>
    <title>Booking</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style1.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
		<body>
			
				<div class="nav">
				<a href="userhome">Home</a>
				<a href="usergallery">Gallery</a>
				<a href="userservices">Services</a>
				<a href="Booking">Booking</a>
				<a href="userlogin">Login</a>
				<a href="contactus">Contact Us</a>
				<a href="userfeedback">Feedback</a>
				<a href="login"class = "btnn" >Logout</a>
				<h3><span>'User Login'</span></h3>
				</div>

		<div class="container8">
			<form id = "loginform2" action="/login" method="POST">	
		<h1>You are now logged in</h1> 
	<h3>Booking Summary</h3>
	<div id="divGet">
	<table>
		<tr>
			
			<th>Booking ID</th>
			<th>Full Name</th>
			<th>Email Address</th>
			<th>Date Created</th>
			<th>Event Name</th>
			<th>Catering Name</th>
			<th>Catering Price</th>
			<th>Cake Name</th>
			<th>Cake Size</th>
			<th>Cake Price</th>
			<th>Text on Cake</th>
			<th>Theme Type</th>
			<th>Theme Price</th>
			<th>Venue</th>
			<th>Address</th>
			<th>Contact No</th>
			<th>Message</th>
			<th>Event Date</th>
			
		</tr>
		
		<% if (userbookingsData.length !=0) {var i=1; userbookingsData.forEach( function(data) {
			
		%>
		<tr>
			<td><%=data.bookingid %></td>
			<td><%=data.username%></td>
			<td><%=data.email %></td>
			<td><%=data.datecreated %></td>
			<td><%=data.eventname %></td>
			<td><%=data.cateringname %></td>
			<td><%=data.pricelist1 %></td>
			<td><%=data.productname %></td>
			<td><%=data.size %></td>
			<td><%=data.price %></td>
			<td><%=data.textoncake %></td>
			<td><%=data.themename %></td>
			<td><%=data.pricelist3 %></td>
			<td><%=data.venue %></td>
			<td><%=data.address %></td>
			<td><%=data.contactno %></td>
			<td><%=data.message %></td>
			<td><%=data.date %></td>
		
			
		</tr>
		<% i++; }) %> <%}%>
		
	</table>
	</div>
	</div>
	  	
	</form>  
    </div>
	
<footer>
	© 2023 Top Event Managers. All Rights Reserved.
</footer>

	</body>
</html>