<!DOCTYPE html>
<html>
  <head>
    <title>Bookings Database</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
		<body>

				<div class="nav">
				<a href= "adminhome">Home</a>
				<a href= "admingallery">Gallery</a>
				<a href="adminservices">Services</a>
				<a href="getbookings">Booking</a>
				<a href="geteventusers">Users</a>
				<a href="getfeedback">Feedback</a>
				<a href="getqueries">Queries</a>
				<a href="login"class = "btnn" >Logout</a>
				<h3><span>'Admin Login'</span></h3>
				</div>

                <header>
                    Booking List
               </header>
             
                 <div id="divGet">
                 <table class="booking">
                        <tr>
                                <th class="id3">Booking ID</th>
                                <th class="id3">User ID</th>
                                <th class="id3">Email Address</th>
                                <th class="id3">Date Created</th>
                                <th class="id3">Event Type</th>
                                <th class="id3">Catering ID</th>
                                <th class="id3">Cake ID</th>
                                <th class="id3">Cake Detail Type ID</th>
                                <th class="id3">Text on Cake</th>
                                <th class="id3">Theme ID</th>
                                <th class="id3">Venue</th>
                                <th class="id3">Address</th>
                                <th class="id3">Contact No</th>
                                <th class="id3">Message</th>
                                <th class="id3">Event Date</th>
                                <th class="id3" class="table-danger">Edit</th>
                                <th class="id3"class="table-info">Delete</th>
             
                         </tr>      
                         <% 
                                 if (bookingsData.length !=0) {var i=1; bookingsData.forEach( function(data) {
                          %>   
                          <tr>
                                 <td class="bookingdata3"><%=data.bookingid %></td>
                                 <td class="bookingdata3"><%=data.userid %></td>
                                 <td class="bookingdata3"><%=data.email %></td>
                                 <td class="bookingdata3"><%=data.datecreated %></td>
                                 <td class="bookingdata3"><%=data.eventtype %></td>
                                 <td class="bookingdata3"><%=data.cateringid %></td>
                                 <td class="bookingdata3"><%=data.cakeid %></td>
                                 <td class="bookingdata3"><%=data.cakedetailtypeid %></td>
                                 <td class="bookingdata3"><%=data.textoncake %></td>
                                 <td class="bookingdata3"><%=data.themeid %></td>
                                 <td class="bookingdata3"><%=data.venue %></td>
                                 <td class="bookingdata3"><%=data.address %></td>
                                 <td class="bookingdata3"><%=data.contactno %></td>
                                 <td class="bookingdata3"><%=data.message %></td>
                                 <td class="bookingdata3"><%=data.date %></td>
                                 <td class="bookingdata3"><a href="">EDIT</a></td>
                                 <td class="bookingdata3"><button>Delete</button></td>
                           </tr>
                           <% i++; }) %><%}%>
             
                 </table>    
                 </div>
             </body>
</html>