<!DOCTYPE html>
<html>
  <head>
    <title>Feedback</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
		<body>

				<div class="nav">
				<a href= "adminhome">Home</a>
				<a href= "admingallery">Gallery</a>
				<a href="adminservices">Services</a>
				<a href="getbookings">Booking</a>
				<a href="geteventusers">Users</a>
				<a href="getfeedback">Feedback</a>
				<a href="getqueries">Queries</a>
				<a href="login"class = "btnn" >Logout</a>
				<h3><span>'Admin Login'</span></h3>
				</div>

                <header>
                    Feedback List 
             </header>        
             
                     <div id="divGet">
                     <table>
                            <tr>
                                    <th class="feedback3">ID</th>
                                    <th class="feedback3">User ID</th>
                                    <th class="feedback3">Booking ID</th>
                                    <th class="feedback3">Create Date</th>
                                    <th class="feedback3">Taste of Food</th>
                                    <th class="feedback3">Quality of Food</th>
                                    <th class="feedback3">Ease of Booking</th>
                                    <th class="feedback3">Value of Money</th>
                                    <th class="feedback3">Quality of Service Staff</th>
                                    <th class="feedback3">Quality of Other Services</th>
                                    <th class="feedback3">Overall Quality of Catering</th>
                                    <th class="feedback3">Suggestions</th>
                                    <th class="feedback3" class="table-danger">Edit</th>
                                    <th class="feedback3" class="table-info">Delete</th>
                             </tr>      
                             <% if (feedbackData.length !=0) {var i=1; feedbackData.forEach( function(data) {
                              %>   
                              <tr>
                                     <td class="feedback4"><%=data.id %></td>
                                     <td class="feedback4"><%=data.userid %></td>
                                     <td class="feedback4"><%=data.bookingid %></td>
                                     <td class="feedback4"><%=data.createdate %></td>
                                     <td class="feedback4"><%=data.taste %></td>
                                     <td class="feedback4"><%=data.quality %></td>
                                     <td class="feedback4"><%=data.booking%></td>
                                     <td class="feedback4"><%=data.value %></td>
                                     <td class="feedback4"><%=data.staff %></td>
                                     <td class="feedback4"><%=data.services %></td>
                                     <td class="feedback4"><%=data.experience %></td>
                                     <td class="feedback4"><%=data.suggestions %></td>
                                     <td class="feedback4"><a href="">Edit</a></td>
                                     <td class="feedback4"><button>Delete</button></td>
                               </tr>
                               <% i++; }) %> <%}%>
             
                         </table>    
                         </div>
             
    </body>
</html>