<!DOCTYPE html>
<html>
  <head>
    <title>Booking</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style1.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
	body{
	background-image: url('images/cake1.jpg');
	}
	h1{
		margin: 0;
		padding: 0 0 20px;
		text-align: center;
	}
	
	</style>
  </head>
		<body>
			
				<div class="nav">
				<a class="active"><a href=/ class="text-uppercase font-weight-bold">Home</a>
				<a href= "usergallery">Gallery</a>
				<a href="userservices">Services</a>
				<a href="Booking">Booking</a>
				<a href="userlogin">Login</a>
				<a href="contactus">Contact Us</a>
				<a href="userfeedback">Feedback</a>
				<a href="login"class = "btnn" >Logout</a>
				<h3>Hi,<span>'user_name'</span></h3>
				</div>

/*
		<div class="container8">
		<form action="/login" method="POST">
	  <h1>You are Logged In</h1><br><br>
      <div class = "Container10">
	<h3>Booking Summery</h3>
	<div id="divGet">
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Event Date</th>
			<th>Event Type</th>
			<th>Place</th>
			<th>Venue</th>
			<th>Contact No</th>
		</tr>
		
		<% if (bookingData.length !=0) {var i=1; bookingData.forEach( function(data) {
		%>
		<tr>
			<td><%=data.name %></td>
			<td><%=data.email%></td>
			<td><%=data.date %></td>
			<td><%=data.etype %></td>
			<td><%=data.place %></td>
			<td><%=data.venue%></td>
			<td><%=data.number%></td>
		</tr>
		<% i++; }) %> <%}%>
		
	</table>
	</div>
	</div>
	  	
	</form>  
    </div>
	*/	
<footer>
	© 2023 Top Event Managers. All Rights Reserved.
</footer>

	</body>
</html>