<!DOCTYPE html>
<html>
  <head>
    <title>Bookings Database</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
		<body>

				<div class="nav">
				<a href="adminhome">Home</a>
				<a href="admingallery">Gallery</a>
				<a href="adminservices">Services</a>
				<a href="getbookings">Booking</a>
				<a href="geteventusers">Users</a>
				<a href="getfeedback">Feedback</a>
				<a href="getqueries">Queries</a>
				<a href="login"class = "btnn" >Logout</a>
				<h3><span>'Admin Login'</span></h3>
				</div>

                <header>
                    Booking List
               </header>
   
				<h3><br></h3>
				<h3><br></h3>
				<h3>Booking Summary</h3>
				 <div id="divGet">
                 <table class="booking">
                        <tr>
                                <th class="id3">Booking ID</th>
                                <th class="id3">User Name</th>
                                <th class="id3">Email Address</th>
                                <th class="id3">Date Created</th>
                                <th class="id3">Event Name</th>
                                <th class="id3">Catering Name</th>
                                <th class="id3">Catering Price</th>
                                <th class="id3">Cake Name</th>
                                <th class="id3">Cake Size</th>
                                <th class="id3">Cake Price</th>
                                <th class="id3">Text on Cake</th>
                                <th class="id3">Theme Type</th>
                                <th class="id3">Theme Price</th>
                                <th class="id3">Venue</th>
                                <th class="id3">Address</th>
                                <th class="id3">Contact No</th>
                                <th class="id3">Message</th>
                                <th class="id3">Event Date</th>
                                <th class="id3" class="table-danger">Edit</th>
                                <th class="id3"class="table-info">Delete</th>
								
                         </tr>      
                         <% 
                                 if (bookingsData.length !=0) {var i=1; bookingsData.forEach( function(data) {
                          %>   
                          <tr>
                                 <td class="bookingdata3"><%=data.bookingid %></td>
                                 <td class="bookingdata3"><%=data.username%></td>
                                 <td class="bookingdata3"><%=data.email %></td>
                                 <td class="bookingdata3"><%=data.datecreated %></td>
                                 <td class="bookingdata3"><%=data.eventname %></td>
                                 <td class="bookingdata3"><%=data.cateringname %></td>
                                 <td class="bookingdata3"><%=data.pricelist1 %></td>
                                 <td class="bookingdata3"><%=data.productname %></td>
                                 <td class="bookingdata3"><%=data.size %></td>
                                 <td class="bookingdata3"><%=data.price %></td>
                                 <td class="bookingdata3"><%=data.textoncake %></td>
                                 <td class="bookingdata3"><%=data.themename %></td>
                                 <td class="bookingdata3"><%=data.pricelist3 %></td>
                                 <td class="bookingdata3"><%=data.venue %></td>
                                 <td class="bookingdata3"><%=data.address %></td>
                                 <td class="bookingdata3"><%=data.contactno %></td>
                                 <td class="bookingdata3"><%=data.message %></td>
                                 <td class="bookingdata3"><%=data.date %></td>
                                 <td class="bookingdata3">
								 <button class="button button3" onclick="editEmail('<%= data.email %>')">Edit</button></td>  
                                 <td class="bookingdata3">
									<button class = "button button2"onclick="deleteRow('<%= data.bookingid %>')">Delete</button>
									<form id="deleteForm" action="/getbookings" method="post" style="display: none;">
									<input type="hidden" name="bookingid" id="bookingIdInput">
								</form>
								</td>
                           </tr>
                           <% i++; }) %><%}%>
             
                 </table>    
                 </div> 
<script>
    function deleteRow(bookingId) {
        if (confirm('Are you sure you want to delete this row?')) {
            document.getElementById('bookingIdInput').value = bookingId;

			document.getElementById('deleteForm').submit();
        }
    }
	    function editEmail(email) {
        alert("no time no time no time");    
        // Add your logic for editing the email here
        console.log('Editing email:', email);
    }
</script>


             </body>
</html>